.echodo_history
#rubyllm_chat_app/
.env
.ondir.was.here.touch
ruby_llm-copy/
.git-privatize
bin/
rubyllm_chat_app/app/assets/images/favicon_io.zip
.gemini/
# Nota che solo app non va
app/app/
gcs_credentials.json
private
.cache/
ui-tests/
cookies.txt
