<div id="<%= dom_id(chat, "content") %>" style="display: inline;">
    <%# Render initial content if not streaming, otherwise job appends here %>
    TODO CHAT <%#= simple_format(chat.content) %>
</div>
